body{
    text-align: center;
    font-family: Arial;
    color: blue;
    background: darkgoldenrod;
}


#contenedor{
    background: pink;
    box-shadow: purple;
    color: black;
    stroke: black;
    font-weight: bold;
    padding: 0.5em;
    width: 70%;
    text-align: center;
    border-radius: 9px;
    border: 1px solid black;
    
}